@{
    ViewData["Title"] = "AdminPanelUrun";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Tuple<List<Urunler>, List<Kategoriler>>

<div>
    <div class="row">
        <div class="col-md-2">

            <nav class="d-flex flex-column flex-shrink-0 p-3 mx-3 text-white bg-dark"
                 style="width: 280px; height:100%; overflow:auto;">
                <a href="AdminPanel" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 text-start">Admin Panel</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="AdminPanelKategori" class="nav-link text-white">
                            Kategori İşlemleri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="AdminPanelUrun" class="nav-link text-white">
                            Ürün İşlemleri
                        </a>
                    </li>
                    <li>
                        <a href="AdminPanelMasa" class="nav-link text-white">
                            Masa İşlemleri
                        </a>
                    </li>
                    <li>
                        <a href="AdminPanelGunSonu" class="nav-link text-white">
                            Gün Sonu
                        </a>
                    </li>

                </ul>
            </nav>

        </div>

        <div class="col-md-10 pt-3 ml-3 ">
            <div class="text-white px-5">

                <div class="" id="Kategori">
                    <div class="text-end mt-5">
                        <button class="btn btn-light bi-plus" data-bs-toggle="modal" data-bs-target="#KategoriEkle"> Yeni Ekle</button>
                    </div>
                    <!-- Tablo Başlangıç -->
                    <table class="table table-hover table-light mt-2">
                        <thead>
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Fotoğraf</th>
                                <th scope="col">Ürün Adı</th>
                                <th scope="col">Açıklama</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--
                            <tr>
                             Tablo Satırı Başlangıç
                                <th scope="row">1</th>
                                <td>
                                    <img src="/img/burger.webp" class="card-img-top" style="width:64px;" alt="...">
                                </td>
                                <td>Çıtır Tavuk Burger</td>
                                <td>Açıklamalı Bişeyler</td>
                                <td>Burger</td>
                                <td> <button class="btn btn-dark bi-pencil" data-bs-toggle="modal" data-bs-target="#KategoriGuncelle"></button></td>
                                <td> <button class="btn btn-dark bi-trash" data-bs-toggle="modal" data-bs-target="#KategoriSil"></button></td>
                            </tr> Tablo Satırı Bitiş
                            -->
                            @foreach (var urun in Model.Item1)
                            {
                                <tr>
                                    <td scope="row">@urun.UrunId</td>
                                    <td>
                                        <img src="@urun.UrunFotografi" class="card-img-top" style="width:64px;" alt="...">
                                    </td>
                                    <td>@urun.UrunAdi</td>
                                    <td>@urun.UrunAciklamasi</td>
                                    <td>@urun.KategoriAdi</td>
                                    <td> <button onclick="urunGuncelleModal(@urun.UrunId)" class="btn btn-dark bi-pencil" data-bs-toggle="modal" data-bs-target="#UrunGuncelle"></button></td> <!-- data-bs-toggle="modal" data-bs-target="#UrunGuncelle" -->
                                    <td> <button onclick="urunSilModal(@urun.UrunId)" class="btn btn-dark bi-trash" data-bs-toggle="modal" data-bs-target="#UrunSil"></button></td> <!--  data-bs-toggle="modal" data-bs-target="#UrunSil" -->
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Tablo Tablo Bitiş -->
                </div>

                <script>

                    function urunSilModal(veri) {
                        document.getElementById('SilinecekUrunId').value = veri;
                        console.log(veri);


                    };
                    function urunGuncelleModal(veri) {
                        document.getElementById('GuncellenecekUrunId').value = veri;
                        console.log(veri);
                        //UrunGuncelle
                    };

                    function yenile() {
                        location.reload();
                    };

                    function UrunSil() {
                        var urunID = document.getElementById('SilinecekUrunId').value;

                        var jsonData = {
                            urunId: urunID
                        };

                        console.log(jsonData);

                        $.ajax({
                            url: '/Home/UrunActionSil',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { jsonInput: JSON.stringify(jsonData) },
                            success: function (result) {
                                console.log(result.status + ' İşlem başarılı');
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                        location.reload();
                    };

                    function UrunGuncelle() {

                        var selectElement = document.getElementById('GuncellenecekUrunKategoriId');

                        // seçilen option'ın index'ini al
                        var selectedIndex = selectElement.selectedIndex;

                        // seçili option'ın id'sini al
                        var selectedOptionId = selectElement.options[selectedIndex].id;

                        var urunID = document.getElementById('GuncellenecekUrunId').value;
                        var urunAdi = document.getElementById('GuncellenecekUrunAdi').value;
                        var urunAciklamasi = document.getElementById('GuncellenecekUrunAciklamasi').value;
                        var kategoriID = selectedOptionId;
                        var urunFiyati = document.getElementById('GuncellenecekUrunFiyati').value;
                        var urunFotografi = document.getElementById('GuncellenecekUrunFotografi').value;

                        var jsonData = {
                            urunId: urunID,
                            urunAdi: urunAdi,
                            urunAciklamasi: urunAciklamasi,
                            kategoriID: kategoriID,
                            urunFiyati: urunFiyati,
                            urunFotografi: urunFotografi
                        };
                        console.log(jsonData);



                        $.ajax({
                            url: '/Home/UrunActionGuncelle',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { jsonInput: JSON.stringify(jsonData) },
                            success: function (result) {
                                console.log(result.status + ' İşlem başarılı');
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                        location.reload();

                    };

                    $(document).ready(function () {

                        $('#UrunEkle').on('click', function () {


                            var selectElement = document.getElementById('KategoriId');

                            // seçilen option'ın index'ini al
                            var selectedIndex = selectElement.selectedIndex;

                            // seçili option'ın id'sini al
                            var selectedOptionId = selectElement.options[selectedIndex].id;



                            console.log("Seçili Option ID: " + selectedOptionId);

                            var urunAdi = document.getElementById('UrunAdi').value;
                            var urunAciklamasi = document.getElementById('UrunAciklamasi').value;
                            var kategoriID = selectedOptionId;
                            var urunFiyati = document.getElementById('UrunFiyati').value;
                            var urunFotografi = document.getElementById('UrunFotografi').value;
                            // var urunFotografi = "\\wwwroot\\img\\burger.jpg";


                            var jsonData = {
                                urunAdi: urunAdi,
                                urunAciklamasi: urunAciklamasi,
                                kategoriID: kategoriID,
                                urunFiyati: urunFiyati,
                                urunFotografi: urunFotografi
                            };


                            console.log(jsonData);

                            $.ajax({
                                url: '/Home/UrunAction',
                                type: 'POST',
                                dataType: 'JSON',
                                data: { jsonInput: JSON.stringify(jsonData) },
                                success: function (result) {
                                    console.log(result.status + ' İşlem başarılı');
                                },
                                error: function (error) {
                                    console.error(error);
                                }
                            });
                            yenile();
                        });


                    });
                </script>

                <!-- Güncelleme Pop Up Başlangıç -->
                <div class="modal fade text-black" id="UrunGuncelle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Ürün Güncelle</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form id="EkleForm" action="/Controllers/HomeController.cs" method="post">
                                <div class="modal-body">

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:30%;">ID</span>
                                        <input id="GuncellenecekUrunId" type="text" class="form-control" style="width:70%;" disabled>
                                    </div>

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:30%;">Ürün Adı</span>
                                        <input id="GuncellenecekUrunAdi" type="text" class="form-control" style="width:70%;">
                                    </div>

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" style="width:30%;">Ürün Açıklaması</span>
                                        <textarea id="GuncellenecekUrunAciklamasi" class="form-control" aria-label="With textarea" style="width:70%;"></textarea>
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="SelectKategori" style="width:30%;">Kategori</label>
                                        <select id="GuncellenecekUrunKategoriId" name="KategoriId" class="form-select" style="width:70%;">
                                            @foreach (var kategori in Model.Item2)
                                            {
                                                <option id="@kategori.KategoriId">@kategori.KategoriId- @kategori.KategoriAdi</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:30%;">Ürün Fiyatı</span>
                                        <input id="GuncellenecekUrunFiyati" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="width:70%;">
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupFile01" style="width:30%;">Ürün Fotoğrafı</label>
                                        <input id="GuncellenecekUrunFotografi" type="file" class="form-control" id="inputGroupFile01" style="width:70%;">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="yenile()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                    <button onclick="UrunGuncelle()" type="button" class="btn btn-success">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Güncelleme Pop Up Bitiş -->
                <!-- Silme Pop Up Başlangıç -->
                <div class="modal fade text-black" id="UrunSil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Kategori Sil</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="EkleForm" action="/Controllers/HomeController.cs" method="post">
                                <div class="modal-body">
                                    <h5>Bu Ürün Silinsin Mi ?</h5>
                                    <input type="hidden" id="SilinecekUrunId" name="SilinecekUrunId">
                                </div>
                                <div class="modal-footer">
                                    <button onclick="yenile()" type="button" class="btn btn-secondary">İptal</button>
                                    <button onclick="UrunSil()" type="button" class="btn btn-danger">Sil</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Silme Pop Up Bitiş -->
                <!-- Ekleme Pop Up Başlangıç -->
                <div class="modal fade text-black" id="KategoriEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Ürün Ekle</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                            <form id="EkleForm" action="/Controllers/HomeController.cs" method="post">
                                <div class="modal-body">

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:30%;">Ürün Adı</span>
                                        <input id="UrunAdi" name="UrunAdi" type="text" class="form-control" style="width:70%;">
                                    </div>

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" style="width:30%;">Ürün Açıklaması</span>
                                        <textarea id="UrunAciklamasi" name="UrunAciklamasi" class="form-control" aria-label="With textarea" style="width:70%;"></textarea>
                                    </div>


                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="SelectKategori" style="width:30%;">Kategori</label> <!--  Veri tabanından çek  -->
                                        <select id="KategoriId" name="KategoriId" class="form-select" style="width:70%;">
                                            @foreach (var kategori in Model.Item2)
                                            {
                                                <option id="@kategori.KategoriId">@kategori.KategoriId- @kategori.KategoriAdi</option>
                                            }

                                        </select>
                                    </div>

                                    <div class="input-group mb-3 mt-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="width:30%;">Ürün Fiyatı</span>
                                        <input id="UrunFiyati" name="UrunFiyati" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="width:70%;">
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupFile01" style="width:30%;">Ürün Fotoğrafı</label>
                                        <input id="UrunFotografi" name="UrunFotografi" type="file" class="form-control" style="width:70%;">
                                    </div>



                                </div>
                                <div class="modal-footer">
                                    <button onclick="yenile()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                    <button id="UrunEkle" type="button" class="btn btn-success">Ekle</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Ekleme Pop Up Bitiş -->

            </div>
        </div>
    </div>
</div>